!!!
/[if lt IE 7]
  <html class="no-js lt-ie7" lang="en">
/[if IE 7]
  <html class="no-js lt-ie8 lt-ie7" lang="en">
/[if IE 8]
  <html class="no-js lt-ie9" lang="en">
/[if gte IE 9]
  %html.no-js{:lang => "en"}
%head
  = javascript_include_tag "application"
  %script{:src => "//use.typekit.net/uri1xds.js", :type => "text/javascript"}
  = csrf_meta_tags
  = favicon_link_tag

  :css
    table th {
      text-align: left;
      padding: 6px 40px 6px 10px;
    }
    table td { padding: 6px 40px 6px 10px; }
    table tr:nth-child(even) td { background-color: #eeeeee; }

%h1 Guests

%p
  RSVP'ed guests:
  = @guests.count

%p
  Total number of guests attending:
  = @total_guests

%table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
  %thead
    %th #
    %th Attending
    %th Number of Guests
    %th Names of Guests
    %th

  %tbody
    - @guests.each_with_index do |guest, index|
      %tr
        %td= index + 1
        %td
          - if guest.attending
            = 'Yes'
          - else
            = 'No'
        %td= guest.guests
        %td= guest.guest_names
        %td= link_to 'Delete', guest_path(guest.id), method: :delete, data: { confirm: 'Are you sure?' }